<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myfruit.pms.mapper.UserMapper">
    <insert id="save" parameterType="com.myfruit.pms.dto.UserDto" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO users (username, password, enabled)
        VALUES (#{username}, #{password}, #{enabled})
    </insert>

    <insert id="insertUserRole">
        INSERT INTO user_roles (user_id, role_id)
        VALUES (#{userId}, #{roleId})
    </insert>
</mapper>