<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>로그인</title>
</head>
<body>
<nav>
    <ul>
        <li><a th:href="@{/}">홈</a></li>
        <li sec:authorize="!isAuthenticated()">
            <a th:href="@{/auth/login}">로그인</a>
        </li>
        <li sec:authorize="!isAuthenticated()">
            <a th:href="@{/auth/signup}">회원가입</a>
        </li>
        <li sec:authorize="hasRole('ADMIN')">
            <a th:href="@{/admin/users}">사용자 관리</a>
        </li>
        <li sec:authorize="isAuthenticated()">
            <form th:action="@{/logout}" method="post">
                <button type="submit">로그아웃</button>
            </form>
        </li>
    </ul>
</nav>
<h1>로그인</h1>
<form th:action="@{/auth/login}" method="post">
    <div>
        <label for="username">username:</label>
        <input type="text" name="username" id="username" required/>
    </div>
    <div>
        <label for="password">password:</label>
        <input type="text" name="username" id="password" required/>
    </div>
    <button type="submit">로그인</button>
</form>
</body>
</html>